body {
	font: 16px/1.5em "Helvetica Neue", "Helvetica", arial, sans-serif;
	color:#4e2e01;
	background-color: #ffffee;
}

#header {
	height:120px;
	width:200%;
	background-color:#272;
	position:absolute;
	margin: 10px -20%;
}

#container {
	clear:both;
	position:absolute;
	margin: 30px 10px 10px 20%;
}

h1 {
	margin-top:-32px;
	padding-bottom:30px;
	line-height:1em;
	font-size: 4.38em;
	color: #ffe;
	margin-bottom: 10%;
}

h2 {
	margin:3em 0 1em;
	line-height:1.1em;
	font-size: 1.1em;
	font-weight:bold;
}

p,ul,li {
	clear:both;
	width:30em;
}

li {
	margin:0 0 0 -3.5em;
	padding-left:1em;
}

a {
	color: #444;
}

a:hover {
	color:#888;
}

.textarea {
	width:300px;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-top:5px;
	padding: 8px;
}

form {
	display:block;
	clear:both;
	margin-top:30px;
	width:350px;
}

.button {
    background:#C3DD82 url('http://d1vgw4v7ja2ido.cloudfront.net/-6dcb38bf6fb9dc95.gif') repeat-x top left;
    border:1px solid #8CB332;
    border-bottom:1px solid #648517;
	color: #406A24;
    border-radius:3px;
    display:inline-block;
    padding:10px 15px;
    text-shadow: 0 1px #D4ED95;
	font-size:16px;
	margin-top:15px;
}

.button:hover {
    border:1px solid #33440c;
}


.button:active {
    background:#e0e0e0;
    border:1px solid #999;
    text-shadow:none;
}

